/* 
    Document   : css
    Created on : 2013-maj-13, 12:03:26
    Author     : sarafrisk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
}

/* LOGIN BOX */

#login {
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin: 100px auto 0 auto;
}

#login label {
    width: 80px;
}

#login ul {
    padding: 0;
}

#login li {
    margin: 10px 0;
    list-style: none;
}

.login_button {
    width: 130px;   
}

#login h1 {
    margin-bottom: 5px;
}
#login h3 {
    margin-top: 0;
}


/* CREATE NEW USER */

#create_user {
    margin: 30px;       
}

#create_user label {
     display: inline-block;
    width: 110px;
}

#create_user ul {
    padding: 0;
}

#create_user li {
    margin: 10px 0;
    list-style: none;
}


/* INGREDIENT CONTAINER - SHOP */

#shop #ingredient_container {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#shop .ingredient {
    width: 100%;
    height: 20px;
    padding: 5px 0;
}
#shop .ingredient .name {
    float: left;
    width: 150px;
}

#shop .ingredient .price {
   float: left; 
   margin: 0 20px;
   width: 50px;
   
}

#shop .ingredient .pick {
    float: right;
}

#shop #add_pizza_button {
    margin-top: 20px;
}

/* CHART */

#shop #chart_header {
    margin-top: 50px;
}



/* INGREDIENT CONTAINER - ADMIN */

#admin #ingredient_container {
    width: 300px;
    background: #00FF00;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#admin .ingredient {
    width: 100%;
    height: 20px;
    padding: 5px 0;
}
#admin .ingredient .name {
    float: left;
    width: 150px;
}

#admin .ingredient .price {
   float: left; 
   margin: 0 20px;
   width: 50px;
   
}

#admin .ingredient .stock {
    float: right;
    width: 40px;
}

#admin #add_ingredient {
    margin-top: 20px;
}

#admin .column_labels #name_label {
    display: inline-block;
    width: 150px;
}

#admin .column_labels #price_label {
    display: inline-block;
    width: 50px;
    margin: 0 23px;
}

#admin .column_labels #stock_label {
    display: inline-block;
    width: 40px;
}